DATABASE_URL=postgres://login:senha@url:port/database_name
JWT_SECRET=troque-este-segredo
ADMIN_EMAIL=admin@seudominio.com
SESSION_COOKIE_DOMAIN=.site.com.br
CORS_ALLOWED_ORIGINS=http://localhost:3000,https://dev.seudominio.com
